body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
   
    
}

.search-placeholder{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.search{
    display: flex;
    border: 0.1px solid rgb(48, 43, 43);
    border-radius: 50px 50px 50px 50px;
    
}

input{
    width: 500px;
    height: 20px;
    border-radius: 50px 0px 0px 50px;
    border: 0.1px solid rgb(48, 43, 43);
    padding: 10px;
}

.button-submit{
    padding: 10px;
    width: 50px;
    border-radius: 0px 50px 50px 0px;
    border-style: solid solid solid none;
}

.head-icons{
    display: flex;
    margin: 15px;
    gap: 20px;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    gap: 20px;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chanel{
    display: flex;
    gap: 20px;
    align-items: center;
}

.icons{
    display: flex;
    gap: 10px;
}

.sub{
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    background-color: black;
    color: white;
}

.chanel p{
    font-weight: bold;
}

.chanel p span{
    font-size: 15px;
    font-weight: lighter;
}

.chanel i{
    background-color: rgb(53, 173, 89);
    padding: 20px;
    border-radius: 80px;
    font-size: 30px;
    color: white;
}

.like{
    padding: 10px;
    display: flex;
    gap: 10px;
    width: 60px;
    border-radius: 50px 0px 0px 50px;
    border-style: none solid none none;
    border-color: rgb(153, 151, 151);
}

.dislike{
    padding: 5px;
    width: 50px;
    border-radius: 0px 50px 50px 0px;
    border-style: none;
   
}

.like-dislike{
    display: flex;
}

.share, .clip, .save{
    padding: 5px;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
    width: 100px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.more{
    padding: 10px;
    border-style: none;
    border-radius: 100px;
}

.discription{
    background-color: #f1eeee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.right-container{
   
    width: 100%;
}

.comment-sort{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 20px;
}

#comment-place{
    width: 95%;
    margin: 10px;
    border-style: none none solid none;
    border-radius: 0px;
}

.comment-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
}

.comment-functions{
    display: flex;
    gap: 20px;
}

.comment-functions button{
    padding: 10px;
    border-radius: 50px;
    border-style: none;
}

.com #text1{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bolder;
}

.com #text2{
    font-size: 10px;
    font-weight: bolder;
}

.com p{
    font-size: smaller;
    margin-left: 10px;
}

.com{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.com #user{
    font-size: 30px;
    background-color: tomato;
    border-radius: 80px;
    padding: 10px;
    color: #f1eeee;
}

.comment-replys{
    display: flex;
    gap: 20px;
    margin-left: 78px;
}

.reply{
    border-style: none;
    padding: 10px;
    border-radius: 50px;
}

.side-contents{
    display: flex;
    align-items: center;
    gap: 10px;
}

.vido-content img{
    border-radius: 10px;
}

.text-content .side-text1{
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.text-content .side-text2{
    font-size: 12px;
    color: rgb(121, 115, 115);
}

.text-content .side-text3{
    font-size: 12px;
    color: rgb(121, 115, 115);
    margin-bottom: 30px;
}